<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- outer page div -->
<div class="company">

    <!-- header div -->
    <header class="company__header">
        <div class="row company__header__navs">
            <div class="col-6 col-s-12 company__header__navs__nav1">
                <span>
                    COMPANY
                </span>
                <span class="company__header__navs__nav1__part2">
                    LOGO
                </span>
            </div>
            <div class="company__header__navs__nav2">
                About
            </div>
            <div>
                Services
            </div>
            <div>
                Solutions
            </div>
            <div>
                Blog
            </div>
            <div>
                Get in touch
            </div>
        </div>
    </header>

    <!-- Company graphic image -->
    <section class="company__graphic">
        <div class="company__graphic__image">
            <picture>
                <source media="(min-width: 650px)" srcset="IAN.jpg"></source>
                <source media="(min-width: 465px)" srcset="mobile.jfif"></source>
                <img src="mobile.jfif">
            </picture>
        </div>
        <div class="company__graphic__over">
            <h2 class="company__graphic__over__text">
                Integer bebendum sit amet arcu vel egestas
            </h2>
            <div class="company__graphic__over__donuts">
                <div class="company__graphic__over__donuts__container">
                    <div class="company__graphic__over__donuts__container__child">
                        <div>
                            <img src="13QA.png">
                        </div>
                        <div>
                            Service name
                        </div>
                    </div>
                    <div class="company__graphic__over__donuts__container__child">
                        <div>
                            <img src="14Poll.png">
                        </div>
                        <div>
                            Service name
                        </div>
                        </div>
                    <div class="company__graphic__over__donuts__container__child">
                        <div>
                            <img src="19Channels.png">
                        </div>
                        <div>
                            Service name
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About section -->
    <section class="row company__about">
        <div class="col-s-6 company__about__desc">
            <h3 class="col-s-12">
                Mauris id bibendum est. Prion dapibus sollicitudin iaculis, Maecenas condimentum maximus laoreet.
            </h3>
            <p class="col-s-12">
                See Understanding Techniques for WCAG Success Criteria for important information about the usage of these informative techniques and how they relate to the normative WCAG 2.0 success criteria. The Applicability section explains the scope of the technique, and the presence of techniques for a specific technology does not imply that the technology can be used in all situations to create content that meets WCAG 2.0.
            </p>
        </div>
            <img class="col-s-6" src="map.jfif">
    </section>

    <!-- Testimonals section -->
    <section class="company__testimonals">
    <div class="company__testimonals__header"><h3> Testimonials </h3></div>
    <div class="row company__testimonals__reviews">
        <div class="col-s-4 company__testimonals__reviews__main">
            <div class="company__testimonals__reviews__main__desc">
                <p>Let's have a look at a simple component that does not use yet OnPush change detection, it's a newsletter component: we will use it in a parent HomeComponent that looks like the following:</p>
            </div>
            <div class="company__testimonals__reviews__main__client">
                <div class="company__testimonals__reviews__main__client__pict">
                        <img src="me.png">
                </div>
                <div class="company__testimonals__reviews__main__client__name">
                    <div>CLIENT NAME</div>
                    <div>Position, ORG</div>
                </div>
            </div>
        </div>
        <div class="col-s-4 company__testimonals__reviews__main">
                <div class="company__testimonals__reviews__main__desc">
                    <p>Let's have a look at a simple component that does not use yet OnPush change detection, it's a newsletter component: we will use it in a parent HomeComponent that looks like the following:HTML: Use a container element and add the "tooltip" class to it. ... The CSS border-radius property is used to add rounded corners to the tooltip text.</p>
                </div>
                <div class="company__testimonals__reviews__main__client">
                    <div class="company__testimonals__reviews__main__client__pict">
                        <img src="me.png">
                    </div>
                    <div class="company__testimonals__reviews__main__client__name">
                        <div>CLIENT NAME</div>
                        <div>Position, ORG</div>
                    </div>
                </div>
        </div>
        <div class="col-s-4 company__testimonals__reviews__main">
                <div class="company__testimonals__reviews__main__desc">
                        <p>Let's have a look at a simple component that does not use yet OnPush change detection, it's a newsletter component: we will use it in a parent HomeComponent that looks like the following:</p>
                </div>
                <div class="company__testimonals__reviews__main__client">
                    <div class="company__testimonals__reviews__main__client__pict">
                            <img src="me.png">
                    </div>
                    <div class="company__testimonals__reviews__main__client__name">
                        <div>CLIENT NAME</div>
                        <div>Position, ORG</div>
                    </div>
                </div>
        </div>
    </div>

    </section>

    <!-- Work with us section -->
    <seciton class="company__workwithus">
        <div class="company__workwithus__graphic">
            <picture>
                <source media="(min-width: 650px)" srcset="IAN.jpg"></source>
                <source media="(min-width: 465px)" srcset="download.jfif"></source>
                <img src="download.jfif">
            </picture>
        </div>
        <div class="company__workwithus__details">
            <div class="company__workwithus__details__header">
                <div>Convinced To Work With Us?</div>
            </div>
            <div class="company__workwithus__details__secheader">
                <div>Company has helped agencies keep their promises to clients since 2005</div>
            </div>
            <form class="company__workwithus__details__form">
                <div class="company__workwithus__details__form__fields">
                    <input type="text" placeholder="Fullname">
                    <input type="text" placeholder="Email Address">
                    <input type="text" placeholder="Phone Number">
                </div>
                <div class="company__workwithus__details__form__message">
                    <textarea placeholder="Message in brief"></textarea>
                </div>
                <div class="company__workwithus__details__form__submit">
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </seciton>

     <!-- Footer div -->
     <footer class="company__footer">
        <div>
            @ 2017 Company. Al rights reserved.
        </div>
        <div class="company__footer__iconcont">
            <span>Follow us on:</span>
            <span class="company__footer__icons">
                <img src="facebook.png">
                <img src="linkedin.png">
                <img src="twitter.jfif">
                <img src="mail.png">
            </span>
        </div>
     </footer>
</div>
</body>
</html>

